<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增文件列表')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-file-add">
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">文件名：</label>
            <div class="col-sm-8">
                <input name="name" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">文件版本：</label>
            <div class="col-sm-8">
                <input name="version" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">适用系统：</label>
            <div class="col-sm-8">
                <input name="os" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">文件类型：</label>
            <div class="col-sm-8">
                <select name="ftype" class="form-control m-b" th:with="type=${@dict.getType('bi_file_type')}" required>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">文件路径：</label>
            <div class="col-sm-8">
                <input id="url" name="url" class="form-control" type="text" style="display:none" required>
                <input id="filePath" class="form-control" type="file" required>
            </div>
        </div>
        <div class="form-group" style="display: none">
            <label class="col-sm-3 control-label is-required">文件大小：</label>
            <div class="col-sm-8">
                <input id="size" name="size" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">文件备注：</label>
            <div class="col-sm-8">
                <textarea name="remark" class="form-control" required></textarea>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script th:inline="javascript">
    var prefix = ctx + "system/file"
    var host = [[${fsHost}]]
    var port = [[${fsPort}]]
    $("#form-file-add").validate({
        focusCleanup: true
    });
    var isUploading = false;

    function submitHandler() {
        if(isUploading) {
            $.modal.msgWarning('请勿重复提交..');
            return
        }
        isUploading = true
        if ($.validate.form()) {
            $.modal.msgWarning('正在上传中..');
            // 上传文件, 并给 url 赋值
            var formData = new FormData();
            var form = $('#form-file-add');
            var nameObj = $("#form-file-add input[name='name']")
            formData.append('file', form[0][5].files[0]);
            formData.append('scene', 'default');
            formData.append('filename', nameObj.val());
            formData.append('output', 'json2');
            formData.append('path', '/f/');
            formData.append('code', '');
            formData.append('auth_token', '');
            $.ajax({
                url: `http://${host}:${port}/group1/upload`,
                type: 'POST',
                cache: false,
                data: formData,
                processData: false,
                contentType: false
            }).done(function (res) {
                $.modal.msgSuccess('上传成功!');
                var sizeObj = $("#form-file-add input[name='size']")
                var urlObj = $("#form-file-add input[name='url']")
                var result = JSON.parse(res);
                var data = result.data
                sizeObj.val(data['size'])
                var url = new URL(data['url']);
                var urlPrefix = url.origin + url.pathname;
                urlObj.val(urlPrefix)
                $.operate.save(prefix + "/add", form.serialize());
                isUploading = false;
            }).fail(function (res) {
                $.modal.msgError("上传失败");
                isUploading = false;
            });
        }else{
            isUploading = false;
        }
    }

    $("input[name='addTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
</script>
</body>
</html>